*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;700&display=swap");

html {
    font-family: "Montserrat", sans-serif;
}

img {
    width: 100%;
}

a {
    text-decoration: none;
}

body {
    font-size: 16px;
}

@import "variables";
@import "layout/navigation";
