.button {
    border: 2px solid $primary;
    background-color: $primary;
    color: $white;
    padding: 1rem 3rem;
    border-radius: 3rem;
    transition: all 0.5s;
    cursor: pointer;

    &:hover {
        background: transparent;
        border-color: $white;
    }

    &.is-outline {
        background: transparent;
        border-color: $white;

        &:hover {
            background: $primary;
            border-color: $primary;
        }
    }
}
